master  rokl1.stanford.edu:8100
#hosts   ilc01,ilc02,ilc03,ilc04,ilc05,ilc06,ilc07,ilc08,ilc09,ilc10
#hosts   localhost:9100,localhost:9101,localhost:9102
hosts   bruce.stanford.edu:8110

#var     nodes           7,000
#var     range           300
#var     stat_tasks      10
#var     gen_tasks       24

var     nodes           50
var     range           10
var     stat_tasks      1
var     gen_tasks       5

# TODO 'range' is not very intuitive, does it apply to a process input or output
# see if two output ports are handled correctly

bunch   GenTasks        size    1               range   $range	exec	GenTasks.py,swlib.py,client.py
bunch   GenStubs        size    $gen_tasks      range   1	exec	GenStubs.py,swlib.py,client.py
bunch   GenGraph        size    $gen_tasks      range   $range	exec	GenGraph.py,swlib.py,client.py
bunch   GetNbr          size    $gen_tasks      range   1	exec	GetNbr.py,swlib.py,client.py
bunch	GetTargets      size    1               range   $range	exec	GetTargets.py,swlib.py,client.py
bunch   GetDist         size    $stat_tasks     range   $range	exec 	GetDist.py,swlib.py,client.py
bunch   __Finish__      size    1               range   $range	exec	__Finish__.py,swlib.py,client.py

route   __Start__       GenTasks
route   GenTasks        GenStubs
route   GenStubs        GenGraph
route   GenGraph        GetNbr
route   GetNbr:1        GetDist
route   GetNbr:2        GetTargets
route   GetTargets      GetDist
route   GetDist:1       GetNbr
route   GetDist:2       __Finish__

