master  ild1.stanford.edu:9102
hosts   ild1.stanford.edu:9122,ild1.stanford.edu:9123,ild1.stanford.edu:9124
init    hanworks/snapworld/supervisor.sh

var     nodes           100,000
var     range           2,000
var     stat_tasks      3
var     gen_tasks       50

bunch   GenTasks        size    1               range   $range  exec    GenTasks.py,swlib.py,client.py
bunch   GenStubs        size    $gen_tasks      range   1       exec    GenStubsCpp.py,swlib.py,client.py,snap.py,_snap.so
bunch   GenGraph        size    $gen_tasks      range   $range  exec    GenGraphCpp.py,swlib.py,client.py,snap.py,_snap.so
bunch   GetNbr          size    $gen_tasks      range   1       exec    GetNbrCpp.py,swlib.py,client.py,snap.py,_snap.so
bunch   GetTargets      size    1               range   $range  exec    GetTargets.py,swlib.py,client.py
bunch   GetDist         size    $stat_tasks     range   $range  exec    GetDistCpp.py,swlib.py,client.py,snap.py,_snap.so
bunch   __Finish__      size    1               range   $range  exec    __Finish__.py,swlib.py,client.py

route   __Start__       GenTasks
route   GenTasks        GenStubs
route   GenStubs        GenGraph
route   GenGraph        GetNbr
route   GetNbr:1        GetDist
route   GetNbr:2        GetTargets
route   GetTargets      GetDist
route   GetDist:1       GetNbr
route   GetDist:2       __Finish__

