master  rokl1.stanford.edu:8100
#hosts   rokl1.stanford.edu:8120,rokl1.stanford.edu:8121,rokl1.stanford.edu:8122
hosts   rokl1.stanford.edu:8120

var     nodes           100,000

var     range           2,000
var     gen_tasks       50

var     drange          10,000
var     stat_tasks      10

bunch   GenTasks        size    1               range   $range	exec	GenTasks.py,swlib.py,client.py
bunch   GenStubs        size    $gen_tasks      range   1	exec	GenStubsCpp.py,swlib.py,client.py,snap.py,_snap.so
bunch   GenGraph        size    $gen_tasks      range   $range	exec	GenGraphCpp.py,swlib.py,client.py,snap.py,_snap.so
bunch   GetNbr          size    $gen_tasks      range   $drange	exec	GetNbrCpp.py,swlib.py,client.py,snap.py,_snap.so
bunch	GetTargets      size    1               range   $drange	exec	GetTargets1.py,swlib.py,client.py
bunch   GetDist         size    $stat_tasks     range   $range	exec 	GetDistCpp1.py,swlib.py,client.py,snap.py,_snap.so
bunch   __Finish__      size    1               range   $range	exec	__Finish__.py,swlib.py,client.py

route   __Start__       GenTasks
route   GenTasks        GenStubs
route   GenStubs        GenGraph
route   GenGraph        GetNbr
route   GetNbr:1        GetDist
route   GetNbr:2        GetTargets
route   GetTargets      GetDist
route   GetDist:1       GetNbr
route   GetDist:2       __Finish__

